.fx-rows {
  display: flex;
  flex-direction: column;

  > .fx-row {
    position: relative;
    flex: 0 0 auto;

    &.fx-expand {
      flex: 1 1 auto;
    }
  }
  &.fx-center {
    justify-content: center;
    align-items: center;
  }
}

.fx-columns {
  display: flex;
  flex-direction: row;

  > .fx-column {
    position: relative;
    flex: 0 0 auto;

    &.fx-expand {
      flex: 1 1 auto;
    }
  }

  &.fx-center {
    justify-content: center;
    align-items: center;
  }
}

.fx-row.fx-columns, .fx-column.fx-rows {
  // position: absolute;
}